---
# This include_vars allows you to keep your vaulted variables outside of your main repo
# It assumes the PRIVATE_REPO environment variable is set to the path of your private repo
# On home-infra, this is done by firstrun.sh.
# However, this role will not break if you do not have these
- name: Include vaulted password file
  ansible.builtin.include_vars:
    file: "{{ item }}"
  with_first_found:
    - files:
        - "{{ lookup('env', 'PRIVATE_REPO') | default('~') }}/{{ ansible_vault }}/{{ ansible_role_name }}-vars.yml"
      skip: true

- name: "Delegate creation of exports to waal70.nfs"
  ansible.builtin.include_role:
    name: waal70.nfs
  vars:
    nfs_exports: ['{{ cifs_consume_path }} 172.16.10.2(rw,sync,no_subtree_check,no_root_squash)',
                  '{{ cifs_export_path }} 172.16.10.2(rw,sync,no_subtree_check,no_root_squash)']

- name: "Template the paperless.yml file to the role's files/ directory"
  ansible.builtin.template:
    src: paperless.yml.j2
    dest: "{{ role_path }}/files/paperless.yml"
    owner: "{{ interactive_user }}"
    group: "{{ interactive_user }}"
    mode: '0644'
    force: true
  delegate_to: localhost

- name: "Include role to deploy paperless-ngx-stack to Portainer"
  ansible.builtin.include_role:
    name: waal70.portainer
  vars:
    stack_list:
      - name: paperless
        file: paperless.yml # file is in files/ of this role

- name: "Wait for stack to be fully started by querying the /schema/view/ endpoint"
  ansible.builtin.uri:
    url: "{{ ppl_endpoint }}schema/view/"
    method: GET
    validate_certs: false
  register: wait_ppl_result
  until: wait_ppl_result is succeeded
  retries: 15
  delay: 10
  changed_when: false

- name: "Generate authentication token for user ID {{ ppl_user }} on {{ ppl_endpoint }}" # noqa: name[template]
  ansible.builtin.uri:
    url: "{{ ppl_endpoint }}token/"
    method: POST
    return_content: true
    body_format: json
    body:
      "username": "{{ ppl_user }}"
      "password": "{{ ppl_password }}"
    validate_certs: false
  register: auth_response
  until: auth_response.status == 200
  retries: 5
  delay: 3
  changed_when: false # prevent Ansible from thinking this task changed something

- name: "Set auth_token fact"
  ansible.builtin.set_fact:
    auth_token: "{{ auth_response.json.token }}"
  changed_when: false # prevent Ansible from thinking this task changed something

# This is the user that will own all the config, so it should be properly authorized!
# You can find the ID by GET'ing the /api/users, which can be easily done through:
# http://<address-of-paperless>:8010/api/schema/view/
# ppl_owner: 3
# users/?username__iexact=ppl'

- name: "Setting ppl_owner - query the user ID for user {{ ppl_user }}" # noqa: name[template]
  ansible.builtin.uri:
    url: "{{ ppl_endpoint }}users/?username={{ ppl_user }}"
    method: GET
    validate_certs: false
    headers:
      Authorization: "Token {{ auth_token }}"
  register: ppl_user_response
  until: ppl_user_response.status == 200
  retries: 5
  delay: 3
  changed_when: false # prevent Ansible from thinking this task changed something

- name: "Set ppl_owner fact"
  ansible.builtin.set_fact:
    ppl_owner: "{{ ppl_user_response.json.results[0].id }}"

- name: "Set some config on {{ ppl_endpoint }}"
  ansible.builtin.uri:
    url: "{{ ppl_endpoint }}config/1/"
    method: PATCH
    headers:
      Authorization: "Token {{ auth_token }}"
    validate_certs: false
    body_format: json
    body:
      "rotate_pages": true
      "deskew": true
      "rotate_pages_threshold": 10
      "language": "nld"
      "output_type": "pdfa"
      "mode": "skip"
      "skip_archive_file": "never"
      "unpaper_clean": "clean"
      "color_conversion_strategy": "RGB"

- name: "Include config, but only if requested. Do not do this when restoring from backup"
  ansible.builtin.include_tasks: ppl_config.yml
  when: ppl_do_config

- name: "Include tasks to EXPORT and/or CRON schedule the export of database"
  ansible.builtin.include_tasks: ppl_export.yml
  when:
    - (ppl_export | bool) or (ppl_export_schedule | bool)
    - "'test' not in group_names"
