---
##### Handle on consumption workflows first
# Types are:
#    1 - Consumption Started
#    2 - Document Added
#    3 - Document Updated
#    4 - Scheduled

- name: "Populate a variable with all currently known Workflows"
  ansible.builtin.uri:
    url: "{{ ppl_endpoint }}workflows/?page_size=150"
    method: GET
    validate_certs: false
    headers:
      Authorization: "Token {{ auth_token }}"
  register: wf_response

- name: "Retrieve primary keys for document_type, storage_path, correspondent, and tags"
  block:
    - name: Retrieve document type
      ansible.builtin.uri:
        url: "{{ ppl_endpoint }}document_types/?page_size=100"
        method: GET
        validate_certs: false
        headers:
          Authorization: "Token {{ auth_token }}"
      register: doc_types_response

    - name: Retrieve storage paths
      ansible.builtin.uri:
        url: "{{ ppl_endpoint }}storage_paths/?page_size=100"
        method: GET
        validate_certs: false
        headers:
          Authorization: "Token {{ auth_token }}"
      register: sp_response

    - name: Retrieve correspondents
      ansible.builtin.uri:
        url: "{{ ppl_endpoint }}correspondents/?page_size=100"
        method: GET
        validate_certs: false
        headers:
          Authorization: "Token {{ auth_token }}"
      register: correspondents_response

    - name: Retrieve tags
      ansible.builtin.uri:
        url: "{{ ppl_endpoint }}tags/?page_size=100"
        method: GET
        validate_certs: false
        headers:
          Authorization: "Token {{ auth_token }}"
      register: tags_response

    - name: Retrieve authorization groups
      ansible.builtin.uri:
        url: "{{ ppl_endpoint }}groups/"
        method: GET
        headers:
          Authorization: "Token {{ auth_token }}"
        validate_certs: false
        status_code:
          - 200
      register: authgroups_response
### END BLOCK

- name: "Create consumption workflows"
  ansible.builtin.include_tasks: wf_c.yml
  vars:
    wf_name: "{{ item[0] }}"
    wf_filter: "{{ item[1] }}"
    wf_doctype: "{{ item[2] }}"
    wf_correspondent: "{{ item[3] }}"
    wf_sp: "{{ item[4] }}"
    wf_triggertype: 1
  with_items:
    - "{{ consumption_workflows }}"

- name: "Create consumption-correspondent workflows"
  ansible.builtin.include_tasks: wf_cc.yml
  vars:
    wf_name: "{{ item[0] }}"
    wf_filter: "{{ item[1] }}"
    wf_correspondent: "{{ item[2] }}"
    wf_triggertype: 1
  with_items:
    - "{{ consumption_workflow_corr }}"

- name: "Create addition workflows"
  ansible.builtin.include_tasks: wf_a.yml
  vars:
    wf_name: "{{ item[0] }}"
    wf_filter: "{{ item[1] }}"
    wf_assigntag: "{{ item[2] }}"
    wf_triggertype: 2
  with_items:
    - "{{ tagging_workflows }}"

- name: "Create workflows towards ntfy.sh based on tags"
  ansible.builtin.include_tasks: wf_notify.yml
  vars:
    wf_name: "{{ item[0] }}"
    wf_triggertag: "{{ item[1] }}"
    wf_topic: "{{ item[2] }}"
    wf_message: "{{ item[3] }}"
  with_items:
    - "{{ notification_workflows }}"
  when: "stage == 'production'"

- name: "Create workflow for default authorizations"
  ansible.builtin.include_tasks: wf_auth.yml
