services:
  broker:
    image: docker.io/library/redis:8
    networks:
      - paperless_network
    restart: unless-stopped
    volumes:
      - /appdata/redisdata:/data
  db:
    image: docker.io/library/postgres:17
    restart: unless-stopped
    volumes:
      - /data/ppl/pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: "{{ ppl_dbpassword }}"
    networks:
      - paperless_network
  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    container_name: ppl-web
    restart: on-failure
    depends_on:
      - db
      - broker
    ports:
      - 8010:8000
    healthcheck:
      test: ["CMD", "curl", "-fs", "-S", "--max-time", "2", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s
    environment:
      PAPERLESS_ADMIN_USER: "{{ ppl_user }}"
      PAPERLESS_ADMIN_PASSWORD: "{{ ppl_password }}"
      PAPERLESS_DBHOST: db
      PAPERLESS_DBPASS: "{{ ppl_dbpassword }}"
      PAPERLESS_URL: https://{{ ppl_domain }}
      PAPERLESS_CSRF_TRUSTED_ORIGINS: https://{{ ppl_domain }}, http://{{ ppl_domain }}
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_OCR_LANGUAGE: nld
      PAPERLESS_OCR_LANGUAGES: nld eng
      PAPERLESS_OCR_MODE: skip
      PAPERLESS_OCR_SKIP_ARCHIVE_FILE: never
      PAPERLESS_OCR_OUTPUT_TYPE: pdfa
      PAPERLESS_OCR_COLOR_CONVERSION_STRATEGY: RGB
      PAPERLESS_OCR_CLEAN: clean
      PAPERLESS_OCR_DESKEW: true
      PAPERLESS_OCR_ROTATE_PAGES: true
      {% raw -%}
      PAPERLESS_FILENAME_FORMAT: "{{ created_year }}/{{ document_type }}/{{ correspondent }}/{{ created }}_{{ title }}"
      {% endraw -%}
      PAPERLESS_FILENAME_FORMAT_REMOVE_NONE: true
      PAPERLESS_FILENAME_DATE_ORDER: YMD
      PAPERLESS_TIME_ZONE: Europe/Amsterdam
      PAPERLESS_CONSUMER_POLLING: 10
      PAPERLESS_CONSUMER_RECURSIVE: true
      PAPERLESS_TASK_WORKERS: 2
      PAPERLESS_THREADS_PER_WORKER: 2
    networks:
      - default
      - paperless_network
    volumes:
      - /data/ppl:/usr/src/paperless/data
      - /media/ppl:/usr/src/paperless/media
      - {{ cifs_export_path }}:/usr/src/paperless/export
      - {{ cifs_consume_path }}:/usr/src/paperless/consume
networks:
  default:
    external: true
    name: reverse-proxy
  paperless_network:
    name: paperless