services:
  broker:
    image: docker.io/library/redis:8
    networks:
      - paperless_network
    restart: unless-stopped
    volumes:
      - /appdata/ppl/redisdata:/data
  db:
    image: docker.io/library/postgres:17
    restart: unless-stopped
    # Andre fix December 2025. Let docker manage the volume for pgdata to prevent permission errors
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: "{{ ppl_dbpassword }}"
    networks:
      - paperless_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "paperless"]
      interval: 30s
      timeout: 60s
      retries: 5
  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    container_name: ppl-web
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
        restart: true
      broker:
        condition: service_started
    # Uncomment the following lines to enable port mapping instead of using a reverse proxy or if you wish to use the API directly
    ports:
     - 8010:8000
    healthcheck:
      test: ["CMD", "curl", "-fs", "-S", "--max-time", "2", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s
    environment:
      PAPERLESS_ADMIN_USER: "{{ ppl_user }}"
      PAPERLESS_ADMIN_PASSWORD: "{{ ppl_password }}"
      PAPERLESS_DBHOST: db
      PAPERLESS_DBPASS: "{{ ppl_dbpassword }}"
      PAPERLESS_URL: https://{{ ppl_domain }}
      PAPERLESS_CSRF_TRUSTED_ORIGINS: https://{{ ppl_domain }}, http://{{ ppl_domain }}
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_OCR_LANGUAGE: nld
      PAPERLESS_OCR_LANGUAGES: nld eng
      PAPERLESS_OCR_MODE: skip
      PAPERLESS_OCR_SKIP_ARCHIVE_FILE: never
      PAPERLESS_OCR_OUTPUT_TYPE: pdfa
      PAPERLESS_OCR_COLOR_CONVERSION_STRATEGY: RGB
      PAPERLESS_OCR_CLEAN: clean
      PAPERLESS_OCR_DESKEW: true
      PAPERLESS_OCR_ROTATE_PAGES: true
      {% raw -%}
      PAPERLESS_FILENAME_FORMAT: "{{ created_year }}/{{ document_type }}/{{ correspondent }}/{{ created }}_{{ title }}"
      {% endraw -%}
      PAPERLESS_FILENAME_FORMAT_REMOVE_NONE: true
      PAPERLESS_FILENAME_DATE_ORDER: YMD
      PAPERLESS_TIME_ZONE: Europe/Amsterdam
      PAPERLESS_CONSUMER_POLLING: 10
      PAPERLESS_CONSUMER_RECURSIVE: true
      PAPERLESS_TASK_WORKERS: 2
      PAPERLESS_THREADS_PER_WORKER: 2
      {% if ppl_sso | default(false) | bool -%}
      PAPERLESS_ENABLE_ALLAUTH: true
      PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
      PAPERLESS_SOCIALACCOUNT_PROVIDERS: >
        {
          "openid_connect": {
            "APPS": [
              {
                "provider_id": "authentik",
                "name": "SSO",
                "client_id": "{{ ppl_sso_client_id }}",
                "secret": "{{ ppl_sso_secret }}",
                "settings": {
                  "server_url": "{{ ppl_sso_base_url }}/.well-known/openid-configuration",
                  "claims": {"username": "email"}
                }
              }
            ],
            "OAUTH_PKCE_ENABLED": "True"
          }
        }
      PAPERLESS_AUTO_LOGIN: true
      PAPERLESS_AUTO_CREATE: true
      PAPERLESS_LOGOUT_REDIRECT_URL: "{{ ppl_sso_base_url }}/end-session/"
      PAPERLESS_SOCIALACCOUNT_ALLOW_SIGNUPS: true
      {%- endif %}

    networks:
      - default
      - paperless_network
    volumes:
      - /appdata/ppl/data:/usr/src/paperless/data
      - /media/ppl/assets:/usr/src/paperless/media
      - {{ cifs_export_path }}:/usr/src/paperless/export
      - {{ cifs_consume_path }}:/usr/src/paperless/consume
networks:
  default:
    external: true
    name: reverse-proxy
  paperless_network:
    name: paperless
volumes:
  pgdata: